= slide 'Променливи' do
  pre.highlight.js
    | var meaningOfLife = 42;       // typeof meaningOfLife = 'number'
      var wantedGrade = 6.0;        // typeof wantedGrade = 'number'
      var firstLine = "So long\n";  // typeof firstLine == 'string'
      var secondLine = 'And thanks for all the fish!'; // no difference between ' and "
      var happy = true;             // typeof happy = 'boolean'
      var nothing;                  // typeof nothing = 'undefined'

  p Всичко останало - масиви, обекти, функции и тн - са обекти

