= slide 'Условни оператори' do
  pre.highlight.js
    | if (cond) {
        ...
      } else if (cond) {
        ...
      } else {
        ...
      }

      isHappy ? 'smile' : 'frown';

      switch (n) {
        case 1: ... break;
        case 2: ... break;
        default: ...
      }

